.blog-title {
  margin: 0;
  margin-left: 5px;
  color: #fff;
}

.blog-date {
  margin: 0;
  margin-left: 30px;
  color: rgb(150, 150, 150);
}

article {
  margin: auto;
  margin-bottom: 30px;
  /* max-width: 95%; */
}

.hero-image {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

/* @media only screen and (max-width: 1050px) {
  article {
    width
  }
} */
