body,
html {
  background-color: #120458;
  color: white;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Commissioner', sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fraunces';
}

.about-content {
  font-size: 1.25rem;
}
