body,
html {
  background-color: #120458;
  color: white;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Commissioner', sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.about-content {
  font-size: 1.25rem;
}

.menu-open {
  overflow: hidden;
}
