body,
html {
  background-color: #120458;
  color: white;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  font-family: 'Commissioner', sans-serif;
  box-sizing: border-box;
  overflow: hidden;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fraunces';
}

.homepage-img {
  margin: 20px 0 0 0;
  height: 400px;
  width: 100%;
}

/* .about-container {
  width: 100vh;
} */
