.homepage-img {
  height: 300px;
  width: 100%;
  filter: blur(4px);
  opacity: 0.75;
}

.content-container {
  width: 95%;
  max-width: 900px;
  margin: 20px auto 0 auto;
  font-size: 1.25rem;
}

.image-container {
  position: relative;
}

.page-header {
  width: fit-content;
  color: #ff00a0;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Permanent Marker', cursive;
  font-size: 5rem;
}

.page-header-sub {
  color: #ff88d3;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Permanent Marker', cursive;
  font-size: 2rem;
  width: 100%;
}

.text-content {
  margin-top: 20px;
  padding: 0 10px 0 10px;
}

.blog-title {
  margin: 0;
  margin-left: 5px;
  color: #ff00a0;
}

.blog-date {
  margin: 10px 0 10px 0;
  margin-left: 30px;
  color: #fff;
}

.hero-image {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.blog-section-header {
  margin: 30px auto 0 10px;
}

.section-divider {
  margin-left: 5px;
  margin-bottom: 20px;
  background: #ff124f;
  height: 3px;
  width: 200px;
  box-shadow: inset 18px 0 9px -6px #120458, inset -18px 0 9px -6px #120458;
}

article {
  margin: auto;
  margin-bottom: 30px;
  margin-top: 20px;
}

article:first-of-type {
  margin-top: 10px;
}

@media only screen and (max-width: 980px) {
  .page-header {
    font-size: 4rem;
  }

  .page-header-sub {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 750px) {
  .page-header {
    font-size: 3rem;
  }

  .page-header-sub {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 500px) {
  .homepage-img {
    height: 125px;
  }

  .page-header {
    font-size: 2rem;
    top: 50%;
  }

  .page-header-sub {
    display: none;
  }

  .section-divider {
    margin-bottom: 20px;
  }

  .blog-section-header {
  }
}
