.parent-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container {
  margin: auto;
  font-family: sans-serif;
  padding-bottom: 45px;
}

.content-container {
  max-width: 900px;
}

.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.nav-link-item {
  padding-right: 2rem;
}

.nav-link-text {
  color: white;
}

.nav-link-text:hover {
  color: black;
}

.site-title {
  font-size: 3rem;
  color: #7f21fa;
  font-weight: 700;
  margin: 1.5rem 0 0 1.5rem;
}

.nav-bar {
  background-color: #7f21fa;
  padding-left: 30px;
}

/* Write styling for mobile */
/* Site title size too big */

/* Write styling for tablet */
