.parent-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container {
  margin: auto;
  font-family: sans-serif;
}

/* .content-container p {
  width: 90%;
  max-width: 900px;
  margin: auto;
} */

.nav-links {
  display: flex;
  list-style: none;
  padding-left: 15vw;
}

.nav-link-item {
  padding-right: 2rem;
}

.selected-nav-link-item {
  padding-right: 2rem;
  text-shadow: 0 0 10px rgb(255, 158, 242), 0 0 21px rgb(255, 158, 242),
    0 0 42px rgb(255, 158, 242), 0 0 82px rgb(247, 0, 255);
}

.nav-link-text {
  color: #fff;
  font-size: 1.25rem;
  transition: all 0.2s;
  transition-timing-function: ease-in;
}

.nav-link-text:hover {
  text-shadow: 0 0 10px rgb(255, 158, 242), 0 0 21px rgb(255, 158, 242),
    0 0 42px rgb(255, 158, 242), 0 0 82px rgb(247, 0, 255);
}

.site-title {
  font-size: 3rem;
  color: #fff;
  font-weight: 700;
  margin: 1.5rem 0 15px 15vw;
  font-family: 'Neonderthaw', cursive;
  text-shadow: 0 0 7px #ff00a0, 0 0 10px #fe75fe, 0 0 21px #fe75fe,
    0 0 42px #fe75fe;
  max-width: 500px;
}

.heading {
  margin-left: 10px;
  font-family: 'Fraunces', serif;
}

.nav-bar {
  background-color: #7a04eb;
  padding-left: 30px;
  box-shadow: inset 0 20px 20px -20px #ff00a0;
  transform-origin: center;
}

.nav-divider {
  width: 5px;
  background-color: #ff124f;
  height: 30px;
  transform-origin: center;
  transform: rotate(25deg);
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
}

/* Write styling for mobile */
@media only screen and (max-width: 475px) {
  .site-title {
    font-size: 2rem;
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .nav-bar {
    background-color: #7a04eb;
    padding-left: 0px;
  }

  .nav-links {
    padding-left: 0;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  li:last-of-type {
    padding-right: 0;
  }
  /* Adjust navmenu for mobile to avoid overflow */
}
/* Write styling for tablet */
